@import url("https://fonts.cdnfonts.com/css/inter?styles=29139,29140,29141");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--text-dark);
}
li {
  list-style: none;
}

/* Colors */
:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

/* Fonts */
.font-h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.font-h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}
.font-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}
.accent {
  font-style: Italic;
  color: var(--text-accent);
}
.font-body-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.font-body-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}
.font-link-and-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.font-burger-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

/* Buttons */
.btn-primary {
  display: flex;
  width: 200px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background: var(--bg-body);
}

.btn-secondary {
  display: flex;
  width: 200px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
}

.btn-secondary:hover {
  background: var(--bg-container);
}

.btn-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
.icon-dark {
  border: 1px solid var(--border-dark);
}
.icon-dark:hover {
  background: var(--bg-container);
  border: none;
}

.icon-light {
  border: 1px solid var(--border-light);
}
.icon-light:hover {
  background: var(--bg-body);
  border: none;
}

/* Desktop 1440px*/
.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-container img {
  display: block;
}

.nav-container-center {
  display: flex;
  gap: 40px;
}

.menu-container {
  height: 24px;
  position: relative;
}
.nav-item {
  position: relative;
}

.menu-item {
  display: flex;
  gap: 8px;
  position: relative;
}

.nav-item::after,
.menu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-dark);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: width 0.3s ease;
}

.nav-item::after {
  bottom: -4px;
}
.menu-item::after {
  bottom: 0;
}

.nav-item:hover::after,
.menu-item:hover::after {
  width: 100%;
}

.burger-menu-wrapper {
  display: none;
}
.burger-menu {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  cursor: pointer;
}

/* Enjoy */
.enjoy-bg {
  width: 100%;
  border-radius: 40px;
  background: url(./img/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.enjoy {
  max-width: 530px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.enjoy-title {
  color: var(--text-light);
}

.enjoy p {
  color: var(--text-light);
}

.btn-menu {
  color: var(--text-dark);
  position: relative;
  padding-left: 8px;
  box-sizing: border-box;
  transition: padding-left 0.3s ease-in-out;
}

.btn-menu::after {
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn-menu:hover {
  padding-left: 0;
}

.btn-menu:hover::after {
  content: url("./img/coffee-cup.svg");
  opacity: 1;
}

/* Favourites Coffee */
#favorites-coffee {
  text-align: center;
}
.favorites-coffee-title {
  margin-bottom: 40px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 0 5px;
}

.icon-dark:hover .arrow-left,
.icon-dark:hover .arrow-right {
  stroke: var(--text-light);
}

.card {
  max-width: 480px;
}

.img-card-container {
  margin-bottom: 20px;
}
.img-card-container img {
  width: 100%;
  display: block;
}

.text-card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-dark);
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 100px;
}
.control {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-light);
}

.control.active {
  background: var(--border-dark);
}

/* About */
.about-title {
  margin-bottom: 40px;
  font-size: 59.9px;
  font-weight: 600;
  line-height: 125%;
  box-sizing: border-box;
}

.about-images-container {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.image-wrapper {
  max-width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.image-wrapper.big {
  height: 590px;
}

.image-wrapper.small {
  height: 430px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

/* .image-wrapper:hover img {
  transform: scale(1);
} */

/* Modile-App */
#mobile-app {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.mobile-app-offer {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text-dark);
}

.mobile-app-buttons {
  display: flex;
  gap: 20px;
}

.btn-app {
  display: flex;
  width: 200px;
  height: 64px;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.app-icon {
  padding-right: 8px;
}

.btn-app:hover {
  background: var(--bg-container);
  color: var(--text-light);
}

.btn-app:hover .app-icon {
  fill: var(--text-light);
}

.mobile-app-image-container {
  max-width: 630px;
  height: 630px;
}

.mobile-app-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Footer */
#footer {
  /* height: 450px; */
  padding: 100px;
  border-radius: 40px;
  background-color: var(--bg-container);
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 40px;
}
.footer-offer {
  max-width: 530px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-offer h2 {
  color: var(--text-light);
}

.footer-offer span {
  display: block;
}

.social-media-icons {
  display: flex;
  gap: 12px;
}

.btn-social:hover .social-icon {
  stroke: var(--text-dark);
}

.contacts-container {
  color: var(--text-light);
  padding-top: 20px;
}

.contact-title {
  color: var(--text-light);
  margin-bottom: 40px;
}

.contact-item,
.contact-item-link {
  display: inline-block;
  color: var(--text-light);
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

.contact-item::before,
.contact-item-link::before {
  margin-right: 8px;
  vertical-align: top;
}
.contact-location::before {
  content: url(./img/footer/pin-alt.svg);
}
.contact-phone::before {
  content: url(./img/footer/phone.svg);
}
.contact-clock::before {
  content: url(./img/footer/clock.svg);
}

.contact-item-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-light);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: width 0.3s ease;
}
.contact-item-link:hover::after {
  width: 100%;
}

/* Tablet and Modile-screen */
@media (hover: hover) {
  .image-wrapper:hover img {
    transform: scale(1);
  }
}

@media (hover: none) {
  .icon-dark:hover {
    background-color: transparent;
    border: 1px solid var(--border-dark);
  }
  .icon-light:hover {
    background-color: transparent;
    border: 1px solid var(--border-light);
  }
  .icon-dark:hover .arrow-left,
  .icon-dark:hover .arrow-right {
    stroke: var(--text-dark);
  }
  .nav-item:hover::after,
  .menu-item:hover::after {
    width: 0%;
  }
  .btn-menu::after {
    content: url("./img/coffee-cup.svg");
    opacity: 1;
  }
  .btn-menu:hover {
    padding-left: 8px;
  }
  .image-wrapper img {
    transform: scale(1.1);
  }
  .btn-app:hover {
    background: transparent;
    color: var(--text-dark);
  }

  .btn-app:hover .app-icon {
    fill: var(--text-dark);
  }
  .btn-social:hover .social-icon {
    stroke: var(--text-light);
  }
  .contact-item-link:hover::after {
    width: 0%;
  }
}

@media (max-width: 768px) {
  .nav-container-center,
  .menu-container {
    display: none;
  }
  .burger-menu-wrapper {
    display: block;
  }
  .enjoy {
    padding: 100px 60px;
  }
  .btn-menu {
    padding-left: 0;
  }
  .btn-menu::after {
    content: url("./img/coffee-cup.svg");
    opacity: 1;
  }
  .slider {
    padding: 0;
  }
  .about-images-container {
    flex-direction: column;
  }
  .image-wrapper.small {
    display: none;
  }
  .image-wrapper img {
    transform: scale(1.05);
  }
  
  #mobile-app {
    flex-direction: column;
    align-items: flex-start;
  }
  .mobile-app-offer {
    max-width: 688px;
  }
  .mobile-app-image-container {
    max-width: 688px;
    width: 100%;
  }
  #footer {
    padding: 100px 60px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts-container{
    padding-top: 0;
  }
  .contact-item,
  .contact-item-link {
  padding-bottom: 0;
}
  .contact-item {
    margin-bottom: 0;
  }
}

@media (max-width: 716px) {
  /*Adaptive font-size: calc( min font + (max-font - min font)*(100vw - min wight) / (max wight - min wight) */
  .font-h1 {
    font-size: calc(42px + 30 * (100vw - 380px) / 980);
    line-height: 115%;
  }
  .font-h2,
  .about-title {
    font-size: calc(32px + 28 * (100vw - 380px) / 980);
  }
}

@media (max-width: 680px) {
  .main-container {
    padding: 0 16px;
  }
  .enjoy {
    padding: 60px 16px;
  }
  .btn-arrow {
    display: none;
  }
  .slider {
    justify-content: center;
  }

  .image-wrapper img {
    transform: scale(1.23);
}
  .mobile-app-buttons {
    flex-direction: column;
  }
  #mobile-app {
    gap: 40px;
  }
  .mobile-app-image-container {
    height: auto;
  }
  #footer {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer-offer span {
    display: inline;
  }
}
