@import url("https://fonts.cdnfonts.com/css/inter?styles=29139,29140,29141");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--text-dark);
}
li {
  list-style: none;
}

/* Colors */
:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

/* Fonts */
.font-h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.font-h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}
.font-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--text-dark);
}
.accent {
  font-style: Italic;
  color: var(--text-accent);
}
.font-body-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.font-body-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}
.font-link-and-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.font-burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

/* Buttons */
.btn-primary {
  display: flex;
  width: 200px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background: var(--bg-body);
}

.btn-secondary {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  color: var(--text-dark);
}

.btn-secondary:hover {
  background: var(--bg-container);
  color: var(--text-light);
}

.btn-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
.icon-dark {
  border: 1px solid var(--border-dark);
}
.icon-dark:hover {
  background: var(--bg-container);
  border: none;
}

.icon-light {
  border: 1px solid var(--border-light);
}
.icon-light:hover {
  background: var(--bg-body);
  border: none;
}

/* Desktop 1440px*/
.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo-container img {
  display: block;
  cursor: pointer;
}

.nav-container-center {
  display: flex;
  gap: 40px;
}

.menu-container {
  height: 24px;
  position: relative;
}
.nav-item {
  position: relative;
}

.menu-item {
  display: flex;
  gap: 8px;
  position: relative;
  width: 100%;
  cursor: default;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-dark);
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: width 0.3s ease;
}
.nav-item:hover::after {
  width: 100%;
}

.menu-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-dark);
  position: absolute;
  bottom: 0;
  cursor: auto;
}


.burger-menu-wrapper {
  display: none;
}
.btn-burger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
  background-color: transparent;
  cursor: pointer;
}

.menu {
  display: flex;
  height: 0;
  justify-content: center;
  visibility: hidden;
}


.menu-open {
  animation: menu-open-animation 0.5s ease-out forwards;
}

.menu-close {
  animation: menu-close-animation 0.5s ease-in forwards;
}

@keyframes menu-open-animation {
  from {
    height: 0;
    transform: translateX(200%);
    visibility: hidden;

  }
  to {
    height: calc(100vh - 100px);
    transform: translateX(0);
    visibility: visible;


  }
}

@keyframes menu-close-animation {
  from {
    height: calc(100vh - 100px);
    transform: translateX(0);
    visibility: visible;
  }
  to {
    height: 0;
    transform: translateX(200%);
    visibility: hidden;
  }
}


.top-line,
.bottom-line {
  transition: transform 0.5s ease-in-out;
}

.btn-burger-menu.active .top-line {
  transform: translateY(4px) rotate(45deg);
}

.btn-burger-menu.active .bottom-line {
  transform: translateY(-4px) rotate(-45deg);
}
.nav-items {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
  visibility: inherit;
}

.menu-item.menu-link {
  margin-top: 20px;

}


.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.menu-title {
  max-width: 800px;
  text-align: center;
}
.tab-navigation {
  display: flex;
  gap: 16px;
}

.tab-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background-color: transparent;
  color: var(--text-dark);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border 0.5s ease-in-out;
  padding: 8px 16px 8px 8px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: var(--border-light);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-dark);
}

.coffee-icon::before {
  content: url(./img/menu-page/tab-icons/coffee.svg);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tea-icon::before {
  content: url(./img/menu-page/tab-icons/tea.svg);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dessert-icon::before {
  content: url(./img/menu-page/tab-icons/cake.svg);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab-item.active,
.tab-item:hover {
  border: 1px solid var(--bg-container);
  background: var(--bg-container);
  color: var(--text-light);
}

.tab-item.active {
  cursor: auto;
}

.tabs-additives > .tab-item.active {
  cursor: pointer;
}

.tab-item.active .icon {
  background: var(--bg-body);
}

/* .tab-item:hover .icon {
  background: var(--bg-body);
} */

.cards-container {
  color: var(--text-dark);
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  width: 310px;
  height: 506px;
  border: 1px solid var(--border-light);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
}

.image-card-container {
  overflow: hidden;
  border-radius: 40px;
}

.image-card {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.card-item:hover{
 cursor: pointer;
}
.card-item:hover .image-card {
  transform: scale(1);
}

.text-card-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.price-container {
  margin-top: auto;
}

.text-card-container p {
  margin-top: 12px;
}

.load-more-btn-container {
  display: none;
  width: 100%;
  justify-content: center;
}

.icon-dark.load-more-btn:hover {
  background-color: transparent;
  border: 1px solid var(--border-dark);
}

/* Footer */
#footer {
  padding: 100px;
  border-radius: 40px;
  background-color: var(--bg-container);
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 40px;
}

.footer-offer {
  max-width: 530px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-offer h2 {
  color: var(--text-light);
}

.footer-offer span {
  display: block;
}

.social-media-icons {
  display: flex;
  gap: 12px;
}

.btn-social:hover .social-icon {
  stroke: var(--text-dark);
}

.contacts-container {
  color: var(--text-light);
  padding-top: 20px;
}

.contact-title {
  color: var(--text-light);
  margin-bottom: 40px;
}

.contact-item,
.contact-item-link {
  display: inline-block;
  color: var(--text-light);
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 16px;
}

.contact-item::before,
.contact-item-link::before {
  margin-right: 8px;
  vertical-align: top;
}
.contact-location::before {
  content: url(./img/footer/pin-alt.svg);
}
.contact-phone::before {
  content: url(./img/footer/phone.svg);
}
.contact-clock::before {
  content: url(./img/footer/clock.svg);
}

.contact-item-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-light);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: width 0.3s ease;
}
.contact-item-link:hover::after {
  width: 100%;
}

/* Modal */
body.modal-open {
  overflow: hidden;
}

.modal {
  max-width: 800px;
  width: 100%;
  border-radius: 40px;
  padding: 16px;
  background-color: var(--bg-body);
  display: flex;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity 0.5s;
}

.modal-image-container{
  width: 340px;
  min-width: 340px;
  height: 340px;
}

.modal-image-container img{
  width: 100%;
  display: block;
  border-radius: 40px;
}

.modal-text-container{
  color: var(--text-dark, #403F3D);
  display: flex;
  flex-direction: column;
  gap:20px;
}

.modal-title{
  margin-bottom: 12px;
}

.tabs-size,
.tabs-additives{
  padding-top: 8px;
  display: flex;
  gap:8px;
  flex-wrap: wrap;
}
.modal-price-container{
  display: flex;
  justify-content: space-between;
}

.modal-alert{
  padding: 12px 0;
  border-top: 1px solid var(--border-light);
  display: flex;
  gap: 8px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  z-index: 1;
  transition: opacity 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Tablet and Modile-screen */
@media (hover: none) {
  .nav-item:hover::after {
    width: 0%;
  }
  .icon-dark:hover {
    background-color: transparent;
    border: 1px solid var(--border-dark);
  }
  .icon-light:hover {
    background-color: transparent;
    border: 1px solid var(--border-light);
  }
  .btn-social:hover .social-icon {
    stroke: var(--text-light);
  }
  .contact-item-link:hover::after {
    width: 0%;
  }
  .tab-item:hover {
    border: 1px solid var(--border-light);
    background-color: transparent;
    color: var(--text-dark);
  }
  .tab-item.active {
  border: 1px solid var(--bg-container);
  background: var(--bg-container);
  color: var(--text-light);
}
  .card-item:hover .image-card {
    transform: scale(1.1);
  }
}

@media (hover:hover){
  .tab-item:hover .icon {
    background: var(--bg-body);
  }
}

@media (max-width: 884px) {
  .modal {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .nav-container-center,
  .menu-container {
    display: none;
  }
  .burger-menu-wrapper {
    display: block;
  }
  .load-more-btn-container{
    display: flex;
   
  }
  #footer {
    padding: 100px 60px;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts-container{
    padding-top: 0;
  }
  .contact-item,
  .contact-item-link {
  padding-bottom: 0;
  }
  .contact-item {
    margin-bottom: 0;
  }
  .modal {
    max-width: 650px;
  }
}

@media (max-width: 716px) {
  .font-h1 {
    font-size: calc(42px + 30 * (100vw - 380px) / 980);
    line-height: 115%;
  }
  .font-h2 {
    font-size: calc(32px + 28 * (100vw - 380px) / 980);
  }
  .modal {
    max-width: 600px;
  }
}

@media (max-width: 680px) {
  .main-container {
    padding: 0 16px;
  }
  .modal {
    max-width: 342px;
  }
  .modal-image-container {
    display: none;
  .tab-navigation {
    gap: 8px;
  }
  #footer {
    padding: 60px 16px;
    gap: 40px;
  }
  .footer-offer span {
    display: inline;
  }
 }
}