@import url("https://fonts.cdnfonts.com/css/inter?styles=29139,29140,29141");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-body);
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--text-dark);
}
li {
  list-style: none;
}

/* Colors */
:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

/* Fonts */
.font-h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.font-h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.font-h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.accent {
  font-style: Italic;
}
.font-body-medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.font-body-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
.font-link-and-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.font-burger-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

/* Buttons */
.btn-primary {
  display: flex;
  width: 200px;
  /* */
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: var(--bg-body);
}

.btn-secondary {
  display: flex;
  width: 200px;
  /*  */
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
}

.btn-secondary:hover {
  background: var(--bg-container);
}

.btn-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon-dark {
  border: 1px solid var(--border-dark);
}
.btn-icon-dark:hover {
  background: var(--bg-container);
  border: none;
}
.icon-light {
  border: 1px solid var(--border-light);
}
.btn-icon-dark:hover {
  background: var(--bg-body);
  border: none;
}

/* Desktop 1440px*/
.main-container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-container-center {
  background-color: yellow;
  display: flex;
  gap: 40px;
}

.menu-container {
  background-color: yellow;
  height: 28px;
  position: relative;
}
.nav-item {
  background-color: green;
  padding: 2px 0;
  position: relative;
}

.menu-item {
  background-color: green;
  display: flex;
  align-items: baseline;
  gap: 8px;
  position: relative;
}

.nav-item::after,
.menu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-dark);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center bottom;
  transition: width 0.3s ease;
}
.nav-item:hover::after,
.menu-item:hover::after {
  width: 100%;
}
